.text-accent {
    background: linear-gradient(to right, #dd6ba1, #e785b5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
    /* font-weight: inherit; */
}

#logo-nav {
    width: 48px;
    height: 48px;
}