:root {
  --color-pink: #de6ba1;
  --color-brown: #b06e6d;
  --color-gray: #989087;
  --color-font: #54534d;
  --color-background: #fffdfa;
}

.color-font {
color: var(--color-font);
}

.color-pink {
  color: var(--color-pink);
}

.color-brown {
  color: var(--color-brown);
}

.color-gray {
  color: var(--color-gray);
}

body,
#nav,
.bg-section {
  background-color: var(--color-background);
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#nav {
  background-color: var(--color-background);
  letter-spacing: 1px;
}

#logo-circle {
  width: 40px;
  height: 40px;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid var(--color-font);
}

#logo-main {
  width: 100%;
}

.podcast-button {
  background-color: var(--color-pink);
}

.font-semibold {
  color: var(--color-font) !important;
}

#logo {
  width: 240px;
}

#google-scheduler button {
  color: white !important;
  font-weight: normal;
  padding: 8px 24px !important;
  border-radius: 8px !important;
  line-height: 24px !important;
  letter-spacing: .4px !important;
}

#kontakt a {
  color: inherit;
  /* color: white; */
  /* background-color: var(--color-gray); */
}