#home-image {
  /* border-left: 2px solid red; */
  border-right: 1px solid navy;
  border-bottom: 1px solid green;
  /* border-radius: 1rem 3rem 2rem; */
  /* border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; */
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  /* border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%; */
}

.logo-circle {
  cursor: default;
  /* padding: 2rem; */
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.logo-circle-1 {
  z-index: 2;
  background-color: orangered;
  border: 2px solid red;
}

.logo-circle-2 {
  z-index: 1;
  margin-left: -0.4rem;
  background-color: greenyellow;
  border: 2px solid green;
}

.logo-circle-3 {
  z-index: 0;
  margin-left: -0.8rem;
  background-color: blueviolet;
  border: 2px solid navy;
}

.pulse {
  animation: pulse-animation 2s;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

#talkbubble {
  width: 120px;
  height: 80px;
  background: orangered;
  border: 2px solid red;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid orangered;
  border-bottom: 13px solid transparent;
}
